name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUN_SLOW_TESTS: 0

jobs:
  test:
    runs-on: ubuntu-latest
    name: Puzzles
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler: latest
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          directory: test/reports
          token: ${{ secrets.CODECOV_TOKEN }}
